.intro {
  font-weight: bold;
  font-size: 30px;
  color: red;
  margin-left: 35px;
  line-height: 35px;
}

h2.intro {
  font-style: oblique;
  color: blue;
  font-size: 50px;
  margin-left: 50px;
}

p.intro {
  font-style: italic;
  font-size: 30px;
  text-transform:full-width;
  text-align: center;
  color: black;
}

img.intro{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

p.content {
  line-height: 25px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
